body,header,nav,main,footer,h1,div,img,ul,figure,figcaption,section,article,aside,audio,video {
    margin: 0;
    padding: 0;
    border: 0
    background-color: grey;
}

body {
    background-color: #faf9f9;
    color: #343A40;

}

img,video {
    max-width: 100%;
    display: block
}

h1 {
    font-family: atocha,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center
}

h2 {
    font-family: "Oswald",sans-serif;
    text-align: center
}

* {
    box-sizing: border-box
}

header {
    top: 0;
    background-color: #faf9f9;
    height: 125px
}

header img {
    margin: 4% auto;
    width: auto
}

.mobile {
    display: block
}

.tablet-desktop,#menu-links {
    display: none
}

.table-tab-desktop {
    display: none
}

.mobile-nav a {
    color: #343A40;
    font-family: 'Oswald',sans-serif;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block
}

.mobile-nav a.menu-icon {
    display: block;
    position: relative;
    right: 0;
    top: 0
}

main {
    background-color: #faf9f9;
    font-size: 1.15em;
    margin: 3%;
    border-radius: 20px;
    padding: 2%;
    clear: right;
    line-height: 1.9
}

.portrait {
    padding: 5%
    align-item:right;
}

h1 {
    padding: 1em
}

section.bio {
    padding: 10%;
    margin: auto

}

.frame {
    position: relative;
    max-width: 450px;
    margin: 2% auto
}

.about {
    background-color: #d8a3b8;
    background-image: linear-gradient(333deg, #d8a3b8 0%, #bbb85c 33%, #ebc0a4 66%, #ede2e2 100%);

    border-radius: 20px
}

.pic-text {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: "Oswald",Arial,sans-serif;
    font-size: 1.5em;
    font-weight: 700
}

#comptia,#msoffice,#mta {
    margin: 0 4% 2%;
    text-align: left;
    background-color: #bddc6f;
    background-image: linear-gradient(354deg, #bddc6f 0%, #f54547 100%);

    border-radius: 20px;
    padding: 4%
}

.cert-description {
    padding: 5%
}

.vp {
    margin: 2% 2%;
    text-align: left;
  background-color: #00e947;
  background-image: linear-gradient(135deg, #00e947 0%, #cdd080 33%, #dad184 66%, #ffffff 100%);

    border-radius: 20px;
    padding: 5%
}

.studyPro {
    margin: 2% 2%;
    text-align: left;
    background-color: #00e947;
    background-image: linear-gradient(340deg, #00e947 0%, #cdd080 33%, #dad184 66%, #ffffff 100%);


    border-radius: 20px;
    padding: 5%
}

.form {
    text-align: left;
    background: hsla(154,100%,76%,1);
    background: linear-gradient(90deg,hsla(154,100%,76%,.3) 0%,hsla(234,100%,83%,1) 50%,hsla(288,100%,81%,1) 100%);
    background: -moz-linear-gradient(90deg,hsla(154,100%,76%,.3) 0%,hsla(234,100%,83%,1) 50%,hsla(288,100%,81%,1) 100%);
    background: -webkit-linear-gradient(90deg,hsla(154,100%,76%,.3) 0%,hsla(234,100%,83%,1) 50%,hsla(288,100%,81%,1) 100%);
    border-radius: 20px
}

#form {
    margin-top: 2%;
    background-color: #f2f2f2;
    padding: 2%
}

#form h2 {
    text-align: center
}

form #submit {
    margin: 0 auto;
    border: none;
    display: block;
    padding: 2%;
    background-color: #343A40;
    font-size: 1em;
    border-radius: 10px;
    color: #faf9f9
}

fieldset,input,select,textarea {
    margin-bottom: 2%;
    border-radius: 20px;
}

fieldset legend {
    font-family: 'Oswald',sans-serif;
    font-size: 1.25em
}

label {
    display: block;
    padding-top: 3%
}

footer {
    font-size: 1.15em;
    text-align: center;
    color: #343A40;
    padding: 2%;
    clear: both
}

footer p {
    margin: 0
}

footer a {
    color: #343A40;
    padding: .5em
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr
}

@media screen and (min-width: 630px),print {
    .tablet-desktop {
        display:block
    }

    .table-tab-desktop {
        display: none
    }

    .mobile,.mobile-nav {
        display: none
    }

    header {
        padding-bottom: 2%
    }

    nav {
        padding-top: 4%;
        margin-bottom: 1%
    }

    nav ul {
        list-style-type: none;
        text-align: center
    }

    nav li {
        font-size: 1.75em;
        font-family: "Oswald",Arial,sans-serif;
        display: inline-block
    }

    nav li a {
        padding: .1em .75em;
        display: block;
        color: #343A40;
        text-decoration: none
    }

    .badge {
        margin: auto;
        padding: 1%
    }

    .cert-description {
        padding: 5%
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px
    }

    .pic-text {
        font-size: 1em;
        padding: 10px
    }

    form {
        width: 70%;
        margin: 0 auto
    }

    table {
        border: 1px solid #343A40;
        border-collapse: collapse;
        margin: 0 auto;
        width: 70%
    }

    caption {
        font-family: atocha,sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        padding: 1%;
        margin-top: 4%
    }

    td,th {
        border: 1px solid #343A40;
        padding: 2%
    }

    th {
        background-color: #343A40;
        color: #fff;
        font-size: 1.15em
    }

    tr:nth-child(odd) {
        background-color: #ccc
    }
}

@media screen and (min-width: 1015px),print {
    header {
        width:25%;
        float: left;
        padding-bottom: 0
    }

    header img {
        margin: 7%
    }

    nav {
        float: right;
        width: 70%;
        margin: 1em 1em 0 0;
        padding-bottom: 4%
    }

    nav ul {
        text-align: right
    }

    nav li {
        border: none
    }

    nav li a {
        padding: .5em 1em
    }

    nav li a:hover {
        color: #faf9f9;
        background-color: #343A40;
        border-radius: 10px
    }

    .frame {
        opacity: .9
    }

    .frame:hover {
        opacity: 1;
        box-shadow: 8px 8px 10px gray;
        transform: translateY(10px)
    }


    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px
    }

    .portrait {
        padding: 4%;
        margin: auto
    }

    .certifications {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px
    }

    .table-tab-desktop {
        display: block
    }







@media screen and (min-width: 1921px) {
    #container {
        width:1920px;
        margin: 0 auto
    }
}

@media print {
    body {
        background-color: #fff;
        color: #000
    }
}
.contact-box{



/*
.btn-group .button{
width:300px;
height:500px
border: .50px solid green;
color: black;
padding: 25px 42px
text-align: center
text-decoration: none;
display: inline-blocker;
font size: 40px;
float:left;

}
.btn-group .button:hover {
background-color: #3e8e41;0}*/
